/* format and style elements in Hangman component */

/* hangman state images */
.hangman img {
  /* provide shadow illusion around image */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

/* hangman game heading */
.hangman h1 {
  font-weight: 100;
}

/* guessed letters or underscores for unguessed letters */
.hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 40px;
}

/* keyboard of letters */
.hangman-buttons {
  text-align: center;
  display: inline-block;
  width: 550px;
  margin-top: 0;
}

/* style the letters that form the keyboard */
.hangman button {
  /* remove defaults */
  border: none;
  outline: none;

  /* same value as parent element */
  font-family: inherit;
  /* change cursor when hovered over */
  cursor: pointer;

  /* format buttons */
  font-size: 40px;
  width: 65px;
  margin: 10px 5px 5px 5px;
  letter-spacing: 2px;
  border-radius: 5px;
  padding-top: 5px;

  /* specify colours */
  background-color: #363f46;
  color: white;
  box-shadow: 0 6px #212f3d;
}

/* style vowels a lighter shade */
.hangman button.vowel {
  background-color: #525c63;
}

/* change letter button background when hovered over */
.hangman button:hover {
  background-color: #434d55;
  /* slightly lift the button on hover */
  transform: translateY(-5px);
  /* slow down (ease) transition */
  transition: background-color 0.3s, transform 0.3s;
}

/* style vowels a lighter shade when hovered over */
.hangman button.vowel:hover {
  background-color: #5a656c;
}

/* grey out buttons disabled after use */
.hangman button:disabled {
  background-color: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

/* style reset game button */
#reset-button {
  width: 100px;
  height: 50px;
  background-color: rgb(105, 148, 131);
  font-size: medium;
}

/* style help button */
#help-button {
  background-color: rgb(105, 148, 131);
  padding: 0px;
  margin: 0;
  /* circle sizing */
  width: 30px;
  height: 30px;
  font-size: small;
}

/* change letter button background when hovered over */
#help-button:hover,
#reset-button:hover {
  background-color: rgb(118, 165, 146);
  cursor: pointer;
  /* increase font size */
  font-size: 20px;
  /* slightly increase button size and lift button on hover */
  transform: scale(1.1) translateY(-3px);
}

/* default styles for medium screens */
@media screen and (max-width: 768px) {

  /* guessed letters or underscores for unguessed letters */
  .hangman-word {
    font-size: 30px;
  }

  /* keyboard of letters */
  .hangman-buttons {
    width: 450px;
  }

  /* style the letters that form the keyboard */
  .hangman button {
    font-size: 30px;
    width: 55px;
  }
}

/* default styles for small screens */
@media screen and (max-width: 480px) {

  /* guessed letters or underscores for unguessed letters */
  .hangman-word {
    font-size: 20px;
  }

  /* keyboard of letters */
  .hangman-buttons {
    width: 100%;
  }

  /* style the letters that form the keyboard */
  .hangman button {
    font-size: 20px;
    width: 40px;
  }

  /* style reset game button */
  #reset-button {
    width: 80px;
    height: 40px;
    font-size: small;
  }

  /* style help button */
  #help-button {
    width: 25px;
    height: 25px;
    font-size: x-small;
  }
}